@tailwind base;
@tailwind components;
@tailwind utilities;

.relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
  }
  
  /* Additional styles for calendar positioning */
  .bottom-0 {
    bottom: 0;
  }
  
  .left-0 {
    left: 0;
  }
  .my-4 {
    margin-top: 1rem; /* Adjust the value as needed to set the desired spacing */
    margin-bottom: 1rem; /* Adjust the value as needed to set the desired spacing */
  }